<div class="wrapper">
  <div id="hero">
    <div class="header">
        <form method="POST" action="/questions/:id/edit">
          <input name="title" type="text" placeholder="title">
          <textarea name="body" type="text" placeholder="question"></textarea>
          <button type="submit">ASK</button>
        </form>
    </div>
  </div>
</div>
