<article class="individual-question">
      <h2><%= @question.title %></h2>
        <span class='vote-count'></span>
        <span class='username'><%= @question.user %></span>
        <span class='created-at'><%= @question.created_at %></span>
        <span class='comment-count'></span>
      <p><%= @question.body %></p>
</article>