<div class="wrapper">
	<div id="hero">
		<div class="header">
			<div class="login-container">
				<form method="POST" action="/user">
					<input name="username" type="text" placeholder="username">
					<input name="password" type="password" placeholder="password">
					<button type="submit">SIGN UP</button>
				</form>
			</div>
		</div>
	</div>
</div>