<div class="answer_container">

  <h3>The Question: <h4><%= @answer.question.body %></h4></h3>
  <h5>Author: <%= @answer.question.author.username %></h5>


  <p>Answer: <%= @answer.body %></p>
  <p>User: <%= @answer.author.username %></p>

</div>
